extends ../../layout

block content
  h1 My blog landing page.
  table.table.table-striped
    - each blog in blogs
      tr
        td
          a(href='/blog/' + blog._id ) #{blog.title}
        td
          a.edit(href="/admin/blog/edit/" + blog._id ) Edit
          i.icon-edit
  
  a.btn-primary.btn(href="/admin/blog/new") New Article