extends ../../layout

block content
  form(method='post', action='/admin/blog')
    h3 Title
    input( id='title', name='title', type='text' )
    
    h3 Article
    textarea( id='article', name='article')
  
    h3 Author
    input( id='authur', name='author', type='text')
    
    br
    button.btn.btn-primary Create