.navbar.navbar-fixed-top
  .navbar-inner
    .container
      ul.nav
        li
          i.icon-home.icon-white
          a(href="/") Home
        li
          i.icon-file.icon-white
          a(href="/admin/blog") Admin
        li
          i.icon-pencil.icon-white
          a(href="/blog") Blog